body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.icon-left {
  position: absolute;
  left: 20px;
  top: 20px;
}

.icon-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i{
  color: blue;
}

.season-display.summer i{
  color: red;
}
.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}